
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#video-background video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 20px;
}
/* 
    setting form 
*/
.form-reset{
    padding: 0px 400px;
}

/* 
    setting logo's width is 30 percent 
*/
.text-center {
    color: aliceblue;
}
.text-center img{
    width: 40%;
    padding: 16px 0px;
}
.text-center p{
    font-size: 38px;
}
.text-center .form-group p{
    font-size: 32px;
}
input#email {
    padding: 9px 0px;
    font-size: 18px;
    text-indent: 16px;
}
/* 
    setting heading font-size : 25px
*/
.text-center h2{
    font-size: 35px;
}

/* 
    setting form điền submit
*/
