@media (max-width : 739px) {
    .content .title-content{
        font-size: 12px;
    }
    .content .title-content b {
        width: 50px;
    }

    .edit_modal {
        width: 100%;
    }
    .modal-body .button_search {
        padding: 18px 5px 18px 5px;
    }
    .content {
        margin-top: 60px;
    }
    .product .item .name-Product {
        padding: 0px 35px;
    }
    .collab-products{
        padding: 0px 8px;
    }
}