/* 
    css default 
*/
.left{
    float: left;
}
.right{
    float: right;
}
.half_50{
    width: 50%;
}
.inline_block{
    display: inline-block;
}
.dau_cham{
    list-style-type: circle;
}
.icon {
    display: inline-block;
}
/* 
    container-fluid
*/
.container-fluid{
    padding: 0px;
    overflow: hidden;
}

/* 
    modal for css
*/
.modal-body {
    padding: 0px;
}
.modal-body .input_search{
   float: left;
   width: 80%;
}
.modal-body .button_search{
    float: right;
    width: 20%;
    background-color: rgb(255, 0, 0);
    border:none;
    padding: 18px;
}
.modal-body .button_search:hover{
    background-color: rgb(177, 30, 30);
}
.edit_modal{
    margin-top: 300px;
    width: 600px;
}
.edit_modal input{
    padding: 16px;
    font-size: 23px;
}


/* 
    header for css
*/
.header{
    width: 100%;
    background-color: #212529;
    color: #fff;
    overflow: hidden;
}
.header .navbar img{
    width: 300px;
    margin-left: 16px;
}
.header .navbar button{
    margin-right: 16px;
    background-color: #fff;
}
.header .navbar li{
    font-size: 20px;
    padding: 2px 8px;
    background-color: #fcb900;
    border-radius: 10px;
    cursor: pointer;
    margin: 8px 8px;
}
.header .navbar .login:hover{
}
.navbar .nav-item a{
    color: #fff;
    font-weight: bolder;
}
   

/* 
    content css
*/
.content{

}
.content hr{
    font-size: 5px;
    color: #555;
}

    /* 
        title css
    */
    .content .title-home{
        padding: 20px 15px 0px 15px;
       
    }
    .content .title-home a{
        text-decoration: none;
        opacity: 0.8;
        color: #555;
        font-size: 16px;
    }

    /* 
        product-container
    */
.content .product-container{
    padding-bottom: 60px;
    overflow: hidden;
}


    /* 
        product : image
    */
    .content .product-container {
        overflow: hidden;
    }
    .row .img-product img{
        min-width: 100%;
    }


    /* 
        product : information
    */
    .product .product-infor h1{
    color: #555;
    width: 100%;
    margin-top: 0;
    margin-bottom: .5em;
    text-rendering: optimizeSpeed;
    }
    .product .is-divider{
        height: 3px;
        display: block;
        background-color: rgba(0, 0, 0, 0.1);
        margin-bottom: 16px;
        width: 100%;
        max-width: 30px;
    }
    .product .product-infor .thongKe{
        font-size: 16px ;
        font-family: Arial, Helvetica, sans-serif;
        opacity: 0.8;
    }
    .product-infor .thongKe .price{
        font-size: 32px;
        color: #000;
        opacity: 1;
        font-weight: 800;
        text-align: center;
        padding: 16px 0px;
    }
    .thongKe .table-infor .table{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .table-infor .table th {
        font-size: 16px;
        font-weight: bolder;
    }
    .table-infor .table .hot{
        padding: 8px;
        border-radius: 25px;
        background-color: #ff0000;
        color: #fff;
    }

    /* 
        size css
    */
    .choose-size {
        padding-left: 8px;
    }
    .choose-size .option{
        font-size: 18px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    } 
    .choose-size .option input{
        font-size: 20px;
        border-color: #474444;
        margin-right: 2px;
    }


    /* 
        quantity css
    */
.quantity-and-order{
    margin-top: 16px;
}
.quantity-and-order .quantity{
    width: fit-content;
    border: 1px solid #ffffffad;
    border-radius: 25px;
    overflow: hidden;
    font-size: 25px;
    border: 1px solid #555;
}
.quantity-and-order .quantity input{
    float: left;
    display: inline-block; 
    border: none;
}
.quantity-and-order .quantity #minus{
    border-right: 1px solid #555;
}
.quantity-and-order .quantity #plus{
    border-left: 1px solid #555;
}
.quantity-and-order .quantity #amount{
    width: 32px;
    border: none;
    text-align: center;
}
.quantity-and-order .button{
    padding: 8px 60px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 32px;
}


    /* 
        motion
    */
    .motion {
        padding: 0px 20px;
    }
    .motion .title-motion{
        font-size: 20px;
        margin: 26px 0px;
        color: #555;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .motion .detail .dicription{
        font-size: 16px;
        color: #000;
        letter-spacing: 2px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 8px 0px;
    }
    .motion .detail .do-size{
        padding: 8px 0px 16px 0px;
    }
    .detail .dicription b{
        font-size: 20px;
    }
    .detail .do-size img{
        margin-top: 4px;
        width: 100%;
    }

    /* 
        destination
    */
    .destination{
        padding: 16px 20px;
    }
    .detail .do-size h3,
    .destination h3{
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 8px 0px 4px 0px;
    }
    .destination ul{
        padding: 4px 0px 16px 17px;
    }

/* 
    footer css
*/
.footer{
    color: #fff;
    background-color: #212529;
}
.footer .detail_infor{
    padding: 32px 0px 0px 0px;
    border-bottom: 1px solid;
}
.footer a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.footer .detail_infor .heading{
    color: #fcb900;
    font-size: 22px;
    text-transform: uppercase;
    font-weight:700;
}
.detail_infor .cn{
    font-weight: 700;
}
.detail_infor .province{
    color: rgb(255, 0, 0);
    font-weight: 700;
}
.detail_infor .showroom{
    font-weight: 700;
}
.contain {
    margin-left: 16px;
}
.detail_infor .infor {
    border-right: 1px solid #fff;
}
.detail_infor .infor ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.detail_infor .infor li{
    padding: 8px 0px;
}
.infor .contain .label{
    font-weight: 700;  
}
.contain .li_1 .hotline{
    font-size: 21px;
    color: rgb(255, 0, 0);
    font-weight: 700;
}
.contain .li_2 .hotline{
    font-size: 14.7px;
    color: rgb(255, 0, 0);
    font-weight: 600;
}
.infor .link_logo {
    text-align: center;
    font-size: 25px;
   padding: 16px 0px;
}
.infor .link_logo li{
    display: inline-block;
    padding: 8px;
    margin: 0px 4px;
    border: 1px solid #fff;
    border-radius: 100%;
    opacity: 0.8;
    cursor: pointer;
}
.infor .link_logo li:hover{
    background-color: grey;
    border: none;
}
.contain .transaction ul{
    list-style-type: disc;
    margin-left: 16px;
}
.footer .sign {
    padding: 32px;
    opacity: 0.5;
}
.footer .sign p{
    margin-left: 40px;
}
