body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#video-background video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#main{
    position: relative;
    z-index: 1;
    
    padding: 20px;
}
section{
    margin: 40px auto;
    width: 40%;
    height: 50%;
    
}
section>h1{
    text-align: center;
    font-family: fangsong;
    color: #f8bc0f;
    font-size: 50px;
}
form{
    width: 410px;
    
}
#goBackDiv{
    text-align: center;
}
.form-label{
    font-size: larger;
    color: whitesmoke;
}



footer{
    color: whitesmoke;
    text-align: center;
    
}